/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Ubuntu:wght@500&display=swap');


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Ubuntu', sans-serif;
	color: #FFFFFF;
}

body{
	background: url(addemp.png);
	background-size: cover;
	height: 100vh; 
}

.wrapper{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	padding: 0 20px;
}

.contact-form{
	max-width: 550px;
	margin: 0 auto;
	background: black;
	padding: 30px;
	border-radius: 5px;
	display: flex;
	box-shadow: 0 0 20px;
}

.input-fields{
	display: flex;
	flex-direction: column;
	margin-right: 4%;
	width: 48%;
}

.input-fields .input{
	margin: 10px 0;
	background: transparent;
	border: 0;
	border-bottom: 2px solid #E83009;
	padding: 1px;

}

.input-fields .input1{
	margin: 10px 0;
	background: transparent;
	border: 0;
	border-bottom: 2px solid #E83009;
	padding: 15px;

}

::-webkit-input-placeholder{
	color: #FFFFFF;
}

::-moz-input-placeholder{
	color: #FFFFFF;
}

::-ms-input-placeholder{
	color: #FFFFFF;
}

.btn{
	background: #E83009;
	text-align: center;
	padding: 12px;
	border-radius: 5px;
	color: #FFFFFF;
	cursor: pointer;
	text-transform: uppercase;

}


